extends layout

block content
  #avatar-container.g1
    #avatar

  .g2
    header
      h1#title Paul 
        span.narrow-kerning A. Wells

  .g1
    p#placeholder-text I'll find something to put here... really, it's on my to-do list.
    nav
      ul#links
        li#linkedin
          a(href='http://www.linkedin.com/in/paulwells', title='Linkedin') Linkedin
        li#github
          a(href='https://github.com/paulwe', title='GitHub') GitHub
        li#pandora
          a(href='http://www.pandora.com/profile/w3b_monk3y', title='Pandora') Pandora
        li#twitter
          a(href='https://twitter.com/paulwe', title='Twitter') Twitter
        li#email
          a(href='mailto:paulwe@gmail.com', title='Email') Email
        li#phone
          a(href='tel:5035832341', title='Telephone') Telephone